@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
* {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2em;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #377FF4;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #377FF4 !important;
    background-color: #fff !important;
}

.navbar-nav {
    /* float: left !important; */
    margin-top: 25px !important;
    margin-right: 25px !important;
}

.about-nav {
    background-color: #337ab7;
}

.navbar-default .navbar-brand img {
    float: left;
    margin-left: 25px !important;
}

.btn-primary {
    color: #337ab7;
    background-color: #fff;
    border-color: #fff;
    font-weight: bold;
    width: 250px;
}

.text-primary {
    color: #377FF4 !important;
}

.kategori-item:hover i {
    cursor: pointer;
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.hero-section {
    height: 100vh;
    background: url('../img/bg-hero-2.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    /* margin-top: -10px; */
    line-height: 60vh;
    color: #fff;
}

.about-hero-section {
    height: 80vh;
    background: url('../img/img-1.png') no-repeat center center;
    background-size: cover;
    /* margin-top: -10px; */
    line-height: 60vh;
    color: #fff;
}

.news-hero-section {
    height: 80vh;
    background: url('../img/bg-news.png') no-repeat top center;
    background-size: cover;
    /* margin-top: -10px; */
    line-height: 60vh;
    color: #fff;
}

.about {
    padding: 50px 20px;
}

.about p {
    font-size: 1.2em;
}

.hero-section h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-style: italic;
    margin-top: -20px;
}

.hero-section h1 {
    margin-top: -200px;
    line-height: 55px;
}

.hero-section h1 .typed,
.primary-text {
    font-size: 1.3em;
}

.hero-section h1 .sub-primary-text {
    font-size: 2em;
}

.kategori {
    padding: 50px 20px;
}

.kategori h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 3px;
}

.kategori h4 {
    font-size: 1.2em;
    font-weight: bold;
}

.page-header h1 {
    font-size: 3.26em;
    text-align: center;
    color: #efefef;
    text-shadow: 1px 1px 0 #000;
}

.alur-section {
    background: #212121 url('../img/bg-alur.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.alur-section .container h1 span {
    font-size: 1.3em !important;
    font-weight: bold;
    color: #fff;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: #fff !important;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body>p,
.timeline-body>ul {
    margin-bottom: 0;
}

.timeline-body>p+p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline>li>.timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline>li>.timeline-panel {
        float: right;
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

.peraturan-section {
    padding: 50px 20px;
}

.peraturan-section h1 {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 3px;
    color: #337ab7;
}

.peraturan-section p {
    color: #212121;
}

.checkout-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fafbfa;
}

.checkout {
    background-color: #fff;
    border: 1px solid #eaefe9;
    font-size: 14px;
}

.panel {
    margin-bottom: 0px;
}

.checkout-step {
    border-top: 1px solid #f2f2f2;
    color: #666;
    font-size: 14px;
    padding: 30px;
    position: relative;
}

.checkout-step-number {
    border-radius: 50%;
    border: 1px solid #666;
    display: inline-block;
    font-size: 12px;
    height: 32px;
    margin-right: 26px;
    padding: 6px;
    text-align: center;
    width: 32px;
}

.checkout-step-title {
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    margin: 0px;
}

.checout-address-step {}

.checout-address-step .form-group {
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
}

.checkout-step-body {
    padding-left: 60px;
    padding-top: 30px;
}

.checkout-step-active {
    display: block;
}

.checkout-step-disabled {
    display: none;
}

.checkout-login {}

.login-phone {
    display: inline-block;
}

.login-phone:after {
    content: '+91 - ';
    font-size: 14px;
    left: 36px;
}

.login-phone:before {
    content: "";
    font-style: normal;
    color: #333;
    font-size: 18px;
    left: 12px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-phone:after,
.login-phone:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-phone .form-control {
    padding-left: 68px;
    font-size: 14px;
}

.checkout-login .btn {
    height: 42px;
    line-height: 1.8;
}

.otp-verifaction {
    margin-top: 30px;
}

.checkout-sidebar {
    background-color: #fff;
    border: 1px solid #eaefe9;
    padding: 30px;
    margin-bottom: 30px;
}

.checkout-sidebar-merchant-box {
    background-color: #fff;
    border: 1px solid #eaefe9;
    margin-bottom: 30px;
}

.checkout-total {
    border-bottom: 1px solid #eaefe9;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.checkout-invoice {
    display: inline-block;
    width: 100%;
}

.checout-invoice-title {
    float: left;
    color: #30322f;
}

.checout-invoice-price {
    float: right;
    color: #30322f;
}

.checkout-charges {
    display: inline-block;
    width: 100%;
}

.checout-charges-title {
    float: left;
}

.checout-charges-price {
    float: right;
}

.charges-free {
    color: #43b02a;
    font-weight: 600;
}

.checkout-payable {
    display: inline-block;
    width: 100%;
    color: #333;
}

.checkout-payable-title {
    float: left;
}

.checkout-payable-price {
    float: right;
}

.checkout-cart-merchant-box {
    padding: 20px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #eaefe9;
    padding-bottom: 20px;
}

.checkout-cart-merchant-name {
    color: #30322f;
    float: left;
}

.checkout-cart-merchant-item {
    float: right;
    color: #30322f;
}

.checkout-cart-products {}

.checkout-cart-products .checkout-charges {
    padding: 10px 20px;
    color: #333;
}

.checkout-cart-item {
    border-bottom: 1px solid #eaefe9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    font-size: 12px;
    padding: 22px 20px;
    width: 100%;
}

.checkout-item-list {}

.checkout-item-count {
    float: left;
}

.checkout-item-img {
    width: 60px;
    float: left;
}

.checkout-item-name-box {
    float: left;
}

.checkout-item-title {
    color: #30322f;
    font-size: 14px;
}

.checkout-item-unit {}

.checkout-item-price {
    float: right;
    color: #30322f;
    font-size: 14px;
    font-weight: 600;
}

.checkout-viewmore-btn {
    padding: 10px;
    text-align: center;
}

.header-checkout-item {
    text-align: right;
    padding-top: 20px;
}

.checkout-promise-item {
    background-repeat: no-repeat;
    background-size: 14px;
    display: inline-block;
    margin-left: 20px;
    padding-left: 24px;
    color: #30322f;
}

.checkout-promise-item i {
    padding-right: 10px;
    color: #43b02a;
}

.news-section {
    padding: 50px 0px;
    background: #212121 url('../img/bg-hero-2.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.news-section h1 span {
    color: #fff;
}

.post-slide {
    margin: 0 15px;
    position: relative;
    background: #FFF;
}

.post-slide .post-img {
    position: relative;
    overflow: hidden;
}

.post-slide .post-img img {
    width: 100%;
    height: auto;
}

.post-slide .over-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.post-slide:hover .over-layer {
    opacity: 1;
}

.post-slide .post-link {
    margin: 0;
    padding: 0;
    position: relative;
    top: 45%;
    text-align: center;
}

.post-slide .post-link li {
    display: inline-block;
    list-style: none;
    margin: -9px 0 0;
}

.post-slide .post-link li a {
    color: #FFF;
    font-size: 39px;
}

.post-slide .post-link li a:hover {
    color: #fff;
    text-decoration: none;
}

.post-slide .post-date {
    position: absolute;
    top: 10%;
    left: 4%;
}

.post-slide .date {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    padding: 5px 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #333;
    float: left;
}

.post-slide .month {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    padding: 5px 13px;
    color: #111;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
}

.post-slide .post-content {
    padding: 30px;
    background-color: #F5F5F6;
}

.post-slide .post-title {
    margin: 0 0 15px 0;
}

.post-slide .post-title a {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
    text-decoration: none;
    color: #337ab7;
}

.post-slide .post-description {
    font-size: 14px;
    line-height: 22px;
    color: #444444;
    padding: 0 0 10px 0;
}

.post-slide .read-more {
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: color 0.20s linear;
    transition: color 0.20s linear;
}

.post-slide .read-more:hover {
    text-decoration: none;
    color: #337ab7;
}

.post-slide .read-more:after {
    content: "";
    position: absolute;
    width: 30%;
    display: block;
    border: 1px solid #337ab7;
    -webkit-transition: all 0.30s ease;
    transition: all 0.30s ease;
}

.post-slide .read-more:hover:after {
    width: 100%;
}

.list-btn {
    height: 100px;
}

.list-btn li {
    margin: 0px 50px;
    height: 100px;
}

.list-btn li .primary-btn {
    margin-top: -270px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 30px;
    background-color: #FA000B;
    color: #fff;
}

.list-btn li .primary-btn:hover {
    border-radius: 50%;
    border: 2px solid #337ab7;
    padding: 30px;
    background-color: #fff;
    color: #337ab7;
    -webkit-transition: 1.2s;
    transition: 1.2s;
    -moz-transition: 1.2s;
    -ms-transition: 1.2s;
    -o-transition: 1.2s;
}

.forLastStep {
    font-weight: bold;
}

.customDefault {
    color: black;
}

.customDefault .introjs-skipbutton {
    border-radius: 0;
    color: red;
}

.btn-guide {
    position: fixed;
    bottom: 0px;
    right: 20px;
}

@media only screen and (max-width: 479px) {
    .post-slide .month {
        font-size: 14px;
    }
    .post-slide .date {
        font-size: 14px;
    }
}

div.clanky .row {
    padding-top: 35px;
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #337ab7;
}

footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    color: #fff;
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks li a {
    text-decoration: none;
    color: #fff;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    background-color: #222222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: white;
    outline: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #337ab7;
}

@media (min-width: 360px) and (max-width: 640px) {
    #menu {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 75px;
        color: #FFFFFF;
        z-index: 9999;
        display: none;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-brand .navbar-brand-android {
        font-size: 1.2em;
        color: #fff;
    }
    .navbar-default .navbar-brand img {
        float: left;
        margin-left: 25px !important;
        width: 100px;
        height: 50px;
        margin-top: -18px;
    }
    /* Hero Section */
    .hero-section h2 {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-style: italic;
        font-size: 1.3em;
    }
    .hero-section h1 {
        margin-top: -155px;
        line-height: 25px;
        font-size: 1.2em;
    }
    .hero-section h1 .typed,
    .primary-text {
        font-size: 1em;
    }
    .hero-section h1 .sub-primary-text {
        font-size: 1.1em;
    }
    .hero-section h1>a {
        margin-top: 10px;
    }
    /* Kategori Section */
    .kategori .kategori-item {
        display: block !important;
        padding: 20px;
    }
}

@media (min-width: 360px) and (max-width: 640px) and (orientation:landscape) {
    /* Hero Section */
    .hero-section h2 {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-style: italic;
        font-size: 1.5em;
        margin-top: -20px;
    }
    .hero-section h1 {
        margin-top: -100px;
        line-height: 25px;
        font-size: 1.2em;
    }
    .hero-section h1 .typed,
    .primary-text {
        font-size: 1em;
    }
    .hero-section h1 .sub-primary-text {
        font-size: 1.1em;
    }
    .hero-section h1>a {
        margin-top: 8px;
    }
    /* Kategori Section */
    .kategori .kategori-item {
        padding: 20px;
    }
}